<!DOCTYPE html>
<html>
  <head>
    <title>Myclan</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="mx-5 bg-yellow-100">
    <header class="box-border px-10 py-8 flex flex-wrap sm:justify-between md:items-center">
      <div class="">
        <div class="text-2xl font-bold text-yellow-900">MyClan</div>
      </div>
      <div>
        <button class="button bg px-8 py-3 rounded-lg font-semibold hover:text-blue-700 cursor-pointer"><%= link_to 'LOG IN', user_session_path %></button>
        <button class="button bg-green-500 px-8 py-3 rounded-lg text-white font-semibold cursor-pointer"><%= link_to 'GET STARTED', new_user_registration_path %></button>
      </div>
    </header>
    <main class="px-10">
      <div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
